UniversityServer/WebContent/wsdl/UniversityServerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.univserver.cmpe273.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.univserver.cmpe273.edu" xmlns:intf="http://service.univserver.cmpe273.edu" xmlns:tns1="http://beans.univserver.cmpe273.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.univserver.cmpe273.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.univserver.cmpe273.edu"/>
   <element name="testService">
    <complexType/>
   </element>
   <element name="testServiceResponse">
    <complexType>
     <sequence>
      <element name="testServiceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editCourseAssignedToAProfessor">
    <complexType>
     <sequence>
      <element name="ic" type="tns1:InstructorCourse"/>
     </sequence>
    </complexType>
   </element>
   <element name="editCourseAssignedToAProfessorResponse">
    <complexType>
     <sequence>
      <element name="editCourseAssignedToAProfessorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerUser">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerUserResponse">
    <complexType>
     <sequence>
      <element name="registerUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="dropCourse">
    <complexType>
     <sequence>
      <element name="sjsu_id" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
      <element name="section" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="dropCourseResponse">
    <complexType>
     <sequence>
      <element name="dropCourseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCourse">
    <complexType>
     <sequence>
      <element name="sjsuid" type="xsd:string"/>
      <element name="courseNumber" type="xsd:string"/>
      <element name="courseName" type="xsd:string"/>
      <element name="section" type="xsd:string"/>
      <element name="day" type="xsd:string"/>
      <element name="time" type="xsd:string"/>
      <element name="location" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCourseResponse">
    <complexType>
     <sequence>
      <element name="addCourseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="adminSignIn">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="adminSignInResponse">
    <complexType>
     <sequence>
      <element name="adminSignInReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="signIn">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signInResponse">
    <complexType>
     <sequence>
      <element name="signInReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAssignedCourse">
    <complexType>
     <sequence>
      <element name="ic" type="tns1:InstructorCourse"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAssignedCourseResponse">
    <complexType>
     <sequence>
      <element name="getAssignedCourseReturn" type="tns1:InstructorCourse"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllCourses">
    <complexType/>
   </element>
   <element name="getAllCoursesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllCoursesReturn" type="tns1:Course"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchInstructorInformation">
    <complexType>
     <sequence>
      <element name="input" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchInstructorInformationResponse">
    <complexType>
     <sequence>
      <element name="searchInstructorInformationReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStudentInformation">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStudentInformationResponse">
    <complexType>
     <sequence>
      <element name="deleteStudentInformationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCourseToCart">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="studentCourse" type="tns1:StudentCourse"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCourseToCartResponse">
    <complexType>
     <sequence>
      <element name="addCourseToCartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeCourseFromCart">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="studentCourse" type="tns1:StudentCourse"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeCourseFromCartResponse">
    <complexType>
     <sequence>
      <element name="removeCourseFromCartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editStudentInformation">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="editStudentInformationResponse">
    <complexType>
     <sequence>
      <element name="editStudentInformationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAssignedCourses">
    <complexType>
     <sequence>
      <element name="sjsuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAssignedCoursesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="viewAssignedCoursesReturn" type="tns1:InstructorCourse"/>
     </sequence>
    </complexType>
   </element>
   <element name="editProfessorInformation">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="editProfessorInformationResponse">
    <complexType>
     <sequence>
      <element name="editProfessorInformationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCourseInBatch">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="co" type="tns1:Course"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCourseInBatchResponse">
    <complexType>
     <sequence>
      <element name="addCourseInBatchReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="listAllProfessors">
    <complexType/>
   </element>
   <element name="listAllProfessorsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listAllProfessorsReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="assignCourseToAProfessor">
    <complexType>
     <sequence>
      <element name="ic" type="tns1:InstructorCourse"/>
     </sequence>
    </complexType>
   </element>
   <element name="assignCourseToAProfessorResponse">
    <complexType>
     <sequence>
      <element name="assignCourseToAProfessorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchStudentInformation">
    <complexType>
     <sequence>
      <element name="input" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchStudentInformationResponse">
    <complexType>
     <sequence>
      <element name="searchStudentInformationReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchAllCourses">
    <complexType>
     <sequence>
      <element name="category" type="xsd:string"/>
      <element name="input" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchAllCoursesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchAllCoursesReturn" type="tns1:Course"/>
     </sequence>
    </complexType>
   </element>
   <element name="adminDeleteCourse">
    <complexType>
     <sequence>
      <element name="course" type="tns1:Course"/>
     </sequence>
    </complexType>
   </element>
   <element name="adminDeleteCourseResponse">
    <complexType>
     <sequence>
      <element name="adminDeleteCourseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteProfessorInformation">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteProfessorInformationResponse">
    <complexType>
     <sequence>
      <element name="deleteProfessorInformationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCourseInvoice">
    <complexType>
     <sequence>
      <element name="sjsuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCourseInvoiceResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCourseInvoiceReturn" type="tns1:StudentCourse"/>
     </sequence>
    </complexType>
   </element>
   <element name="adminAddCourse">
    <complexType>
     <sequence>
      <element name="course" type="tns1:Course"/>
     </sequence>
    </complexType>
   </element>
   <element name="adminAddCourseResponse">
    <complexType>
     <sequence>
      <element name="adminAddCourseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listAllStudents">
    <complexType/>
   </element>
   <element name="listAllStudentsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listAllStudentsReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="adminEditCourse">
    <complexType>
     <sequence>
      <element name="course" type="tns1:Course"/>
     </sequence>
    </complexType>
   </element>
   <element name="adminEditCourseResponse">
    <complexType>
     <sequence>
      <element name="adminEditCourseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listAllPersons">
    <complexType/>
   </element>
   <element name="listAllPersonsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listAllPersonsReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCourseDetails">
    <complexType>
     <sequence>
      <element name="course" type="tns1:Course"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCourseDetailsResponse">
    <complexType>
     <sequence>
      <element name="getCourseDetailsReturn" type="tns1:Course"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewRegisteredCourse">
    <complexType>
     <sequence>
      <element name="sjsuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewRegisteredCourseResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="viewRegisteredCourseReturn" type="tns1:StudentCourse"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllStudentsUnderACourse">
    <complexType>
     <sequence>
      <element name="c" type="tns1:Course"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllStudentsUnderACourseResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllStudentsUnderACourseReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.univserver.cmpe273.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="InstructorCourse">
    <sequence>
     <element name="availableSeats" nillable="true" type="xsd:string"/>
     <element name="courseNumber" nillable="true" type="xsd:string"/>
     <element name="day" nillable="true" type="xsd:string"/>
     <element name="department" nillable="true" type="xsd:string"/>
     <element name="filledSeats" nillable="true" type="xsd:string"/>
     <element name="location" nillable="true" type="xsd:string"/>
     <element name="section" nillable="true" type="xsd:string"/>
     <element name="sjsuid" nillable="true" type="xsd:string"/>
     <element name="time" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Person">
    <sequence>
     <element name="addrLine1" nillable="true" type="xsd:string"/>
     <element name="addrLine2" nillable="true" type="xsd:string"/>
     <element name="cityName" nillable="true" type="xsd:string"/>
     <element name="contactNumber" nillable="true" type="xsd:string"/>
     <element name="dateOfBirth" nillable="true" type="xsd:string"/>
     <element name="department" nillable="true" type="xsd:string"/>
     <element name="emailid" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="gender" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="role" nillable="true" type="xsd:string"/>
     <element name="sjsuid" nillable="true" type="xsd:string"/>
     <element name="stateName" nillable="true" type="xsd:string"/>
     <element name="zipCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Course">
    <sequence>
     <element name="courseDesc" nillable="true" type="xsd:string"/>
     <element name="courseName" nillable="true" type="xsd:string"/>
     <element name="courseNumber" nillable="true" type="xsd:string"/>
     <element name="credits" nillable="true" type="xsd:string"/>
     <element name="day" nillable="true" type="xsd:string"/>
     <element name="department" nillable="true" type="xsd:string"/>
     <element name="location" nillable="true" type="xsd:string"/>
     <element name="section" nillable="true" type="xsd:string"/>
     <element name="time" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="StudentCourse">
    <sequence>
     <element name="courseDay" nillable="true" type="xsd:string"/>
     <element name="courseLocation" nillable="true" type="xsd:string"/>
     <element name="courseNumber" nillable="true" type="xsd:string"/>
     <element name="courseProfessor" nillable="true" type="xsd:string"/>
     <element name="courseSection" nillable="true" type="xsd:string"/>
     <element name="courseTime" nillable="true" type="xsd:string"/>
     <element name="sjsuid" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="adminEditCourseRequest">

      <wsdl:part element="impl:adminEditCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editStudentInformationResponse">

      <wsdl:part element="impl:editStudentInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewRegisteredCourseResponse">

      <wsdl:part element="impl:viewRegisteredCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllStudentsResponse">

      <wsdl:part element="impl:listAllStudentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="testServiceResponse">

      <wsdl:part element="impl:testServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assignCourseToAProfessorResponse">

      <wsdl:part element="impl:assignCourseToAProfessorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllPersonsRequest">

      <wsdl:part element="impl:listAllPersons" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentInformationResponse">

      <wsdl:part element="impl:deleteStudentInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="adminSignInRequest">

      <wsdl:part element="impl:adminSignIn" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerUserResponse">

      <wsdl:part element="impl:registerUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assignCourseToAProfessorRequest">

      <wsdl:part element="impl:assignCourseToAProfessor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllStudentsRequest">

      <wsdl:part element="impl:listAllStudents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCourseToCartResponse">

      <wsdl:part element="impl:addCourseToCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCourseResponse">

      <wsdl:part element="impl:addCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCourseInBatchResponse">

      <wsdl:part element="impl:addCourseInBatchResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllProfessorsRequest">

      <wsdl:part element="impl:listAllProfessors" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInResponse">

      <wsdl:part element="impl:signInResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCourseDetailsResponse">

      <wsdl:part element="impl:getCourseDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCoursesRequest">

      <wsdl:part element="impl:getAllCourses" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteProfessorInformationResponse">

      <wsdl:part element="impl:deleteProfessorInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchInstructorInformationRequest">

      <wsdl:part element="impl:searchInstructorInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="adminEditCourseResponse">

      <wsdl:part element="impl:adminEditCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAssignedCoursesRequest">

      <wsdl:part element="impl:viewAssignedCourses" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCourseInBatchRequest">

      <wsdl:part element="impl:addCourseInBatch" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchStudentInformationRequest">

      <wsdl:part element="impl:searchStudentInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllProfessorsResponse">

      <wsdl:part element="impl:listAllProfessorsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInRequest">

      <wsdl:part element="impl:signIn" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editProfessorInformationRequest">

      <wsdl:part element="impl:editProfessorInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentInformationRequest">

      <wsdl:part element="impl:deleteStudentInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAssignedCoursesResponse">

      <wsdl:part element="impl:viewAssignedCoursesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAssignedCourseResponse">

      <wsdl:part element="impl:getAssignedCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchAllCoursesResponse">

      <wsdl:part element="impl:searchAllCoursesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dropCourseResponse">

      <wsdl:part element="impl:dropCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllStudentsUnderACourseResponse">

      <wsdl:part element="impl:getAllStudentsUnderACourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCourseDetailsRequest">

      <wsdl:part element="impl:getCourseDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCourseInvoiceRequest">

      <wsdl:part element="impl:getCourseInvoice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllStudentsUnderACourseRequest">

      <wsdl:part element="impl:getAllStudentsUnderACourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editProfessorInformationResponse">

      <wsdl:part element="impl:editProfessorInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="adminDeleteCourseRequest">

      <wsdl:part element="impl:adminDeleteCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="adminSignInResponse">

      <wsdl:part element="impl:adminSignInResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCourseInvoiceResponse">

      <wsdl:part element="impl:getCourseInvoiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCoursesResponse">

      <wsdl:part element="impl:getAllCoursesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeCourseFromCartRequest">

      <wsdl:part element="impl:removeCourseFromCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerUserRequest">

      <wsdl:part element="impl:registerUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editStudentInformationRequest">

      <wsdl:part element="impl:editStudentInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="adminDeleteCourseResponse">

      <wsdl:part element="impl:adminDeleteCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="adminAddCourseResponse">

      <wsdl:part element="impl:adminAddCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAssignedCourseRequest">

      <wsdl:part element="impl:getAssignedCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editCourseAssignedToAProfessorResponse">

      <wsdl:part element="impl:editCourseAssignedToAProfessorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editCourseAssignedToAProfessorRequest">

      <wsdl:part element="impl:editCourseAssignedToAProfessor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteProfessorInformationRequest">

      <wsdl:part element="impl:deleteProfessorInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewRegisteredCourseRequest">

      <wsdl:part element="impl:viewRegisteredCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCourseToCartRequest">

      <wsdl:part element="impl:addCourseToCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dropCourseRequest">

      <wsdl:part element="impl:dropCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchAllCoursesRequest">

      <wsdl:part element="impl:searchAllCourses" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllPersonsResponse">

      <wsdl:part element="impl:listAllPersonsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCourseRequest">

      <wsdl:part element="impl:addCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeCourseFromCartResponse">

      <wsdl:part element="impl:removeCourseFromCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchStudentInformationResponse">

      <wsdl:part element="impl:searchStudentInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="adminAddCourseRequest">

      <wsdl:part element="impl:adminAddCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="testServiceRequest">

      <wsdl:part element="impl:testService" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchInstructorInformationResponse">

      <wsdl:part element="impl:searchInstructorInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UniversityServerService">

      <wsdl:operation name="testService">

         <wsdl:input message="impl:testServiceRequest" name="testServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:testServiceResponse" name="testServiceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editCourseAssignedToAProfessor">

         <wsdl:input message="impl:editCourseAssignedToAProfessorRequest" name="editCourseAssignedToAProfessorRequest">

       </wsdl:input>

         <wsdl:output message="impl:editCourseAssignedToAProfessorResponse" name="editCourseAssignedToAProfessorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerUser">

         <wsdl:input message="impl:registerUserRequest" name="registerUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerUserResponse" name="registerUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dropCourse">

         <wsdl:input message="impl:dropCourseRequest" name="dropCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:dropCourseResponse" name="dropCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCourse">

         <wsdl:input message="impl:addCourseRequest" name="addCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCourseResponse" name="addCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="adminSignIn">

         <wsdl:input message="impl:adminSignInRequest" name="adminSignInRequest">

       </wsdl:input>

         <wsdl:output message="impl:adminSignInResponse" name="adminSignInResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signIn">

         <wsdl:input message="impl:signInRequest" name="signInRequest">

       </wsdl:input>

         <wsdl:output message="impl:signInResponse" name="signInResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAssignedCourse">

         <wsdl:input message="impl:getAssignedCourseRequest" name="getAssignedCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAssignedCourseResponse" name="getAssignedCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCourses">

         <wsdl:input message="impl:getAllCoursesRequest" name="getAllCoursesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllCoursesResponse" name="getAllCoursesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchInstructorInformation">

         <wsdl:input message="impl:searchInstructorInformationRequest" name="searchInstructorInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchInstructorInformationResponse" name="searchInstructorInformationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteStudentInformation">

         <wsdl:input message="impl:deleteStudentInformationRequest" name="deleteStudentInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteStudentInformationResponse" name="deleteStudentInformationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCourseToCart">

         <wsdl:input message="impl:addCourseToCartRequest" name="addCourseToCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCourseToCartResponse" name="addCourseToCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeCourseFromCart">

         <wsdl:input message="impl:removeCourseFromCartRequest" name="removeCourseFromCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeCourseFromCartResponse" name="removeCourseFromCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editStudentInformation">

         <wsdl:input message="impl:editStudentInformationRequest" name="editStudentInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:editStudentInformationResponse" name="editStudentInformationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAssignedCourses">

         <wsdl:input message="impl:viewAssignedCoursesRequest" name="viewAssignedCoursesRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAssignedCoursesResponse" name="viewAssignedCoursesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editProfessorInformation">

         <wsdl:input message="impl:editProfessorInformationRequest" name="editProfessorInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:editProfessorInformationResponse" name="editProfessorInformationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCourseInBatch">

         <wsdl:input message="impl:addCourseInBatchRequest" name="addCourseInBatchRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCourseInBatchResponse" name="addCourseInBatchResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllProfessors">

         <wsdl:input message="impl:listAllProfessorsRequest" name="listAllProfessorsRequest">

       </wsdl:input>

         <wsdl:output message="impl:listAllProfessorsResponse" name="listAllProfessorsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assignCourseToAProfessor">

         <wsdl:input message="impl:assignCourseToAProfessorRequest" name="assignCourseToAProfessorRequest">

       </wsdl:input>

         <wsdl:output message="impl:assignCourseToAProfessorResponse" name="assignCourseToAProfessorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchStudentInformation">

         <wsdl:input message="impl:searchStudentInformationRequest" name="searchStudentInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchStudentInformationResponse" name="searchStudentInformationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchAllCourses">

         <wsdl:input message="impl:searchAllCoursesRequest" name="searchAllCoursesRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchAllCoursesResponse" name="searchAllCoursesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="adminDeleteCourse">

         <wsdl:input message="impl:adminDeleteCourseRequest" name="adminDeleteCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:adminDeleteCourseResponse" name="adminDeleteCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteProfessorInformation">

         <wsdl:input message="impl:deleteProfessorInformationRequest" name="deleteProfessorInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteProfessorInformationResponse" name="deleteProfessorInformationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCourseInvoice">

         <wsdl:input message="impl:getCourseInvoiceRequest" name="getCourseInvoiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCourseInvoiceResponse" name="getCourseInvoiceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="adminAddCourse">

         <wsdl:input message="impl:adminAddCourseRequest" name="adminAddCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:adminAddCourseResponse" name="adminAddCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllStudents">

         <wsdl:input message="impl:listAllStudentsRequest" name="listAllStudentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:listAllStudentsResponse" name="listAllStudentsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="adminEditCourse">

         <wsdl:input message="impl:adminEditCourseRequest" name="adminEditCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:adminEditCourseResponse" name="adminEditCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllPersons">

         <wsdl:input message="impl:listAllPersonsRequest" name="listAllPersonsRequest">

       </wsdl:input>

         <wsdl:output message="impl:listAllPersonsResponse" name="listAllPersonsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCourseDetails">

         <wsdl:input message="impl:getCourseDetailsRequest" name="getCourseDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCourseDetailsResponse" name="getCourseDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewRegisteredCourse">

         <wsdl:input message="impl:viewRegisteredCourseRequest" name="viewRegisteredCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewRegisteredCourseResponse" name="viewRegisteredCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllStudentsUnderACourse">

         <wsdl:input message="impl:getAllStudentsUnderACourseRequest" name="getAllStudentsUnderACourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllStudentsUnderACourseResponse" name="getAllStudentsUnderACourseResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UniversityServerServiceSoapBinding" type="impl:UniversityServerService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="testService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editCourseAssignedToAProfessor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editCourseAssignedToAProfessorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editCourseAssignedToAProfessorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dropCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="dropCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="dropCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="adminSignIn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="adminSignInRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="adminSignInResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signIn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signInRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signInResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAssignedCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAssignedCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAssignedCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCourses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCoursesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllCoursesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchInstructorInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchInstructorInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchInstructorInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteStudentInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteStudentInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteStudentInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCourseToCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCourseToCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCourseToCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeCourseFromCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeCourseFromCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeCourseFromCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editStudentInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editStudentInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editStudentInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAssignedCourses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAssignedCoursesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAssignedCoursesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editProfessorInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editProfessorInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editProfessorInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCourseInBatch">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCourseInBatchRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCourseInBatchResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllProfessors">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAllProfessorsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listAllProfessorsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assignCourseToAProfessor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="assignCourseToAProfessorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="assignCourseToAProfessorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchStudentInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchStudentInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchStudentInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchAllCourses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchAllCoursesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchAllCoursesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="adminDeleteCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="adminDeleteCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="adminDeleteCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteProfessorInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteProfessorInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteProfessorInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCourseInvoice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCourseInvoiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCourseInvoiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="adminAddCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="adminAddCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="adminAddCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllStudents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAllStudentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listAllStudentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="adminEditCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="adminEditCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="adminEditCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllPersons">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAllPersonsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listAllPersonsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCourseDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCourseDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCourseDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewRegisteredCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewRegisteredCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewRegisteredCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllStudentsUnderACourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllStudentsUnderACourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllStudentsUnderACourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UniversityServerServiceService">

      <wsdl:port binding="impl:UniversityServerServiceSoapBinding" name="UniversityServerService">

         <wsdlsoap:address location="http://localhost:8080/UniversityServer/services/UniversityServerService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
